*{
	margin:0;
	padding:0;
}
html{
	background:url('../img/background_tile_2.jpg');
	min-height:100%;
	position:relative;
	
}

body{
	color:#fff;
	min-height:600px;
	font:14px/1.3 'Segoe UI',Arial, sans-serif;
}

a, a:visited {
	text-decoration:none;
	outline:none;
	color:#54a6de;
}

a:hover{
	text-decoration:underline;
}

header, footer{
	display:block;
}


h1{
  margin-top: 10px;
  font-size: 1.8em;
	height:92px;
  text-shadow: #000000 2px 2px 2px;
  
	overflow: hidden;
	text-indent: 0px;
	text-align: center;
}



#dropbox{
	border-radius:3px;
	position: relative;
	margin:80px auto 90px;
	min-height: 290px;
	overflow: hidden;
	padding-bottom: 40px;
  width: 990px;
	
}


